@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header.left-links li{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer.left-links {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}