/* Add CSS Styling */
.odd {
    background-color: #ff6800;
    font-family: Verdana, "DejaVu Sans", serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#forth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}