* {
  box-sizing: border-box;
  padding: 0px;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 5px 5px 5px 5px;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
}

button {
  display: block;
  width: 150px;
  height: 35px;
  background: white;
  margin-left: 110px;
  border: 1px solid #eee;
}